/*------------------------------------------------------------------
[1. Columns 768]
*/
.tipi-m-0 { display: none; }
.tipi-m-1 { width: 8.333333333333333%; }
.tipi-m-2 { width: 16.66666666666667%; }
.tipi-m-3 { width: 25%; }
.tipi-m-4 { width: 33.33333333333333%; }
.tipi-m-5 { width: 41.66666666666667%; }
.tipi-m-6 { width: 50%; }
.tipi-m-7 { width: 58.33333333333333%; }
.tipi-m-8 { width: 66.66666666666667%; }
.tipi-m-9 { width: 75%; }
.tipi-m-10 { width: 83.33333333333333%; }
.tipi-m-11 { width: 91.66666666666667%; }
.tipi-m-12 { width: 100%; }