/*!
Plugin Name: Tipi Components
Plugin URI: https://github.com/codetipi/tipi-components
Description: Collection of goodies from the tipi
Version: 1.0
Author: Codetipi
Author URI: http://www.codetipi.com
Text Domain: tipi-components
*/

@import "partials/_base";